table, td{
	border: 1px solid black;
	padding: 0;
	vertical-align: top;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
.main{
	width: 90%;
	margin: 0 auto;
}
#left{
	height: 250px;
}
#center{
	height: 150px;
}
.left{
	width: 33%;
}
#header_rigth{
	width: 33%;
}
#header{
	height: 50px;
}
#content{
	height: 250px;
}
#gallery{
	height: 200px;
}
.cell{
	height: 50px;
}
#main{
	width: 20%;
	margin: 0 auto;
}
#main td{
	padding: 5px;
}
.input_field{
	text-align: center;
}